*

!*.nix
!/.gitignore

!/.zshrc
!/.Xdefaults
!/.Xresources
!/.xinitrc
!/dot.config

!/assets
!/assets/wallpaper.jpg

!/dot.config/dircolors

!/dot.config/xmodmap

!/dot.config/environment.d
!/dot.config/environment.d/profile.conf
!/dot.config/environment.d/drone.conf
!/dot.config/environment.d/restic.conf

!/dot.config/user-dirs.dirs
!/dot.config/user-dirs.locale

!/dot.config/gtk-2.0
!/dot.config/gtk-2.0/gtkrc

!/dot.config/gtk-3.0
!/dot.config/gtk-3.0/settings.ini

!/dot.config/xsettingsd
!/dot.config/xsettingsd/xsettingsd.conf

!/dot.config/mako
!/dot.config/mako/config

!/dot.config/alacritty
!/dot.config/alacritty/alacritty.yml

!/dot.config/git
!/dot.config/git/config

!/dot.config/vifm
!/dot.config/vifm/vifmrc
!/dot.config/vifm/scripts
!/dot.config/vifm/colors
!/dot.config/vifm/colors/base16.vifm

!/dot.config/nvim
!/dot.config/nvim/init.vim
!/dot.config/nvim/clipboard.vim
!/dot.config/nvim/lsp.vim
!/dot.config/nvim/quickfixopenall.vim
!/dot.config/nvim/ui.vim

!/dot.config/mimeapps.list

!/dot.config/libinput-gestures.conf

!/dot.config/sway
!/dot.config/sway/config
!/dot.config/sway/config.d
!/dot.config/sway/config.d/applications.conf
!/dot.config/sway/config.d/autostart.conf
!/dot.config/sway/config.d/colorscheme.conf
!/dot.config/sway/config.d/custom-keybindings.conf
!/dot.config/sway/config.d/gaps.conf
!/dot.config/sway/config.d/input-defaults.conf
!/dot.config/sway/config.d/systemd.conf
!/dot.config/sway/config.d/theme.conf
!/dot.config/sway/config.d/biolimo
!/dot.config/sway/config.d/biolimo/screens.conf
!/dot.config/sway/config.d/biolimo/inputs.conf
!/dot.config/sway/config.d/chocolatebar
!/dot.config/sway/config.d/chocolatebar/screens.conf

!/dot.config/waybar
!/dot.config/waybar/colorscheme.css
!/dot.config/waybar/config
!/dot.config/waybar/style.css

!/dot.config/mutt
!/dot.config/mutt/muttrc
!/dot.config/mutt/base16.muttrc
!/dot.config/mutt/mailcap

!/dot.config/offlineimap
!/dot.config/offlineimap/functions.py

!/dot.local
!/dot.local/bin
!/dot.local/bin/install-base
!/dot.local/bin/swaylock-bg
!/dot.local/bin/sway-launcher
!/dot.local/bin/sway-service
!/dot.local/bin/toggle-kbd-layout
!/dot.local/bin/wcwd
!/dot.local/bin/vifmrun
!/dot.local/bin/vifmimg
!/dot.local/bin/s
!/dot.local/bin/windows
!/dot.local/bin/import-gtk-settings
!/dot.local/bin/mailto-mutt
!/dot.local/bin/setup-host-conf
!/dot.local/bin/steam-xdg

!/dot.local/share
!/dot.local/share/applications
!/dot.local/share/applications/userapp-Firefox.desktop
